body {
    background: #eeeccb;
}

#eats-header {
    display: block;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


.add-eats {
    margin-left: 40%;
    margin-right: auto;
}

.input {
    border-radius: 2px;
    width: 30%;
    height: 1.5rem;
}

.input-dropdown {
    border-radius: 2px;
    width: 15%;
    height: 1.5rem;
}