body {
    background: #f6f4d0;
}


/* logo */
#eats-header {
    margin-top: 3%;
    text-align: center;
}

  


/* form elements */
.form-box {
    text-align: center;
}

.submit-button {
    border: none;
    border-radius:15px;
    background-color: #2540dd;
    color: white;
    font-size: 16px;
    height: 2.5rem;
    width: 100px; 
}

.input {
    border-radius: 10px;
    width: 23%;
    height: 1.5rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input-dropdown {
    border-radius: 15px;
    width: 23%;
    height: 1.5rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}




/* card elements */
#eats-cards {
    background: rgb(253, 255, 229);
}

.card {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    display: inline-block;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 5%;
}

.eats-img {
    width: 260px;
    height: 330px;
    border-radius:50px;
    opacity: 1;
}

.like-status {
    border: none;
    border-radius:15px;
    background-color: #2540dd;
    color: white;
    font-size: 18px;
    height: 3rem;
    width: 100px;  
}

.plus {
    border: none;
    border-radius: 5px;
    background-color: rgb(193, 222, 231);
    height: 2rem;
    width: 2rem;
    margin-left: 1px;
}

.minus {
    border: none;
    border-radius: 5px;
    background-color:rgb(193, 222, 231);
    height: 2rem;
    width: 2rem;
}

